@media (max-width: 900px){

    .game {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }

    .body {
        justify-content: center;
    }

    footer {
        height: auto;
    }

    #right {
        display: none;
    }
}

@media (min-height: 760px) {

    .game .card {
        height: 25vh;
    }
    
    .game .card img {
        width:110px; 
        height:110px;
    }
    
}

@media (max-width: 700px) {

    #left {
        display: none;
    }

    #responsive {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        font-family: 'Ubuntu', sans-serif;
        font-size: 12px;
        text-align: center;
    }

    #responsive span {
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 30px;
        background-color: black;
        color: white;
        font-size: 15px;
    }

    #responsive h2 {
        margin: 5px;
        margin-left: 24px;
    }

    #responsie a {
        
        background-color: black;
        text-decoration: none;
        color: white;
        font-family: 'Righteous', cursive;
        font-weight: lighter;
        font-size: 18px;
        padding: 10px;
        margin: 5px;
        margin-right: 24px;
        border-radius: 10px;

    }

    .game {
        margin: 0px 10vw 0px 10vw;
    }

    .game .card {
        width: 27vw;
        height: 17vh;
   
   }
   

}

@media (max-width: 550px) {

    header nav a {

        display: none;

    }

    .game {
        padding: 10px;

    }

    .game .card {
         width: 27vw;
         height: 16vh;
         margin: 2vw;
    
    }

    .game .card img {
        width:80px; 
        height:80px;
    }

    #victory #container {
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 3.2vw;
    }

    #victory a {
        left: calc(50% - 14.2vw);
    }

}

@media (max-width: 280px) {
    .game .card img {
        width:70px; 
        height:70px;
    }

}
